<h1>React Calendar</h1>

<h2>Appointments</h2>

<h3>Make a New Appointment</h3>

<!-- the form area -->
<%= form_for @appointment, remote: true do |f| %>
  <%= f.text_field :title, placeholder: 'Appointment Title' %>
  <%= f.text_field :appt_time, placeholder: 'Date and Time' %>
  <%= f.submit "Create Appointment!" %>
<% end %>

<!-- list of appointment appears here -->
<div id="appointments">
  <%= render 'appointments' %>
</div>
